<div class="container pagina-empresa">

  <mat-card class="empresa-card mat-elevation-z8">

    <div id="titulo" class="titulo-card">
      <button class="btn-listar" type="button" [routerLink]="['/empresas']">
        Listar empresas
      </button>

      <span>REGISTRAR DATOS DE LA EMPRESA</span>
    </div>

    <mat-horizontal-stepper [linear]="isLinear" #stepper>

      <!-- ===================== PASO 1 ===================== -->
      <mat-step [stepControl]="primeroFormGroup">

        <ng-template matStepLabel>
          <mat-icon id="seccion_emple" matSuffix matTooltipPosition="right" matTooltip="Sección 1: Datos Empresariales">
            business
          </mat-icon>
        </ng-template>

        <div class="subtitulo">
          <span>Datos Iniciales de la Empresa</span>
        </div>

        <div class="nota">
          <span>
            Por favor llenar todos los campos obligatorios (*) del formulario y dar click en
            <b>Guardar</b> para continuar.
          </span>
        </div>

        <form [formGroup]="primeroFormGroup">

          <div class="form-grid">

            <mat-form-field>
              <mat-label>Descripción</mat-label>
              <input matInput placeholder="Ej: Casa Pazmiño" type="text"
                formControlName="empresaRegistroDescripcionForm" required>

              <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                matTooltip="Ingresar el nombre de la Empresa.">
                description
              </mat-icon>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Código Empresarial</mat-label>
              <input matInput placeholder="Ej: CxdIG0" type="text" formControlName="empresaRegistroCodigoForm" required>

              <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                matTooltip="Ingresar un código para el ingreso al sistema.">
                confirmation_number
              </mat-icon>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Instalación sistema</mat-label>
              <mat-select formControlName="empresaInstalacionForm" required>
                <mat-option value="INTERNA">INTERNA</mat-option>
                <mat-option value="EXTERNA">EXTERNA</mat-option>
              </mat-select>

              <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                matTooltip="Tipo de funcionamiento del sistema.">
                settings_input_component
              </mat-icon>
            </mat-form-field>


            <mat-form-field>
              <mat-label>Zona horaria</mat-label>

              <input type="text" matInput formControlName="empresaZonaHorariaForm" [matAutocomplete]="autoZona"
                placeholder="Buscar zona horaria" required>

              <mat-autocomplete #autoZona="matAutocomplete">
                @for (option of zonasFiltradas | async; track option.id) {
                <mat-option [value]="option.nombre_general">
                  {{ option.nombre_general }}
                </mat-option>
                }
              </mat-autocomplete>

              <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                matTooltip="Seleccionar la zona horaria de la empresa.">
                public
              </mat-icon>
            </mat-form-field>

          </div>

        </form>

        <div class="accion-derecha">
          <button mat-raised-button id="btn-raised_" type="submit" [disabled]="!primeroFormGroup.valid"
            (click)="insertarEmpresa()">
            Guardar
          </button>
        </div>

      </mat-step>


    </mat-horizontal-stepper>

  </mat-card>

</div>