<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        REGISTRAR BASE DE DATOS PARA ...
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana()" matSuffix matTooltipPosition="right"
        matTooltip="Salir">
        highlight_off
    </mat-icon>
</div>
<div>
    <!-- FORMULARIO COMPLETO -->
    <mat-card-content>
        <div class="container" style="text-align: center">
            <div class="nota" style="text-align: justify;">
                <span>
                    NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                    Guardar.
                </span>
            </div>
            <form [formGroup]="formulario">
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-around">
                            <mat-form-field>
                                <mat-label>Descripción de la Base de Datos</mat-label>
                                <input type="text" placeholder="Ingresa la descripción" aria-label="Number" matInput
                                    [formControl]="empresaBaseDescripcionForm" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Ingresa la descripción de la Base de Datos.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Nombre de la Base de Datos</mat-label>
                                <input type="text" placeholder="Ingresa el nombre" aria-label="Number" matInput
                                    [formControl]="empresaBaseNombreForm" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Ingresa el nombre de la Base de Datos.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Host de la Base de Datos</mat-label>
                                <input type="text" placeholder="Ingresa el host" aria-label="Number" matInput
                                    [formControl]="empresaBaseHostForm" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Servidor o IP de la Base de Datos.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Puerto de la Base de Datos</mat-label>
                                <input type="text" placeholder="Ingresa el puerto" aria-label="Number" matInput
                                    [formControl]="empresaBasePuertoForm" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Puerto de conexión de la Base de Datos.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Usuario de la Base de Datos</mat-label>
                                <input type="text" placeholder="Ingresa el usuario" aria-label="Number" matInput
                                    [formControl]="empresaBaseUsuarioForm" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Usuario de la Base de Datos.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Contraseña de la Base de Datos</mat-label>
                                <input type="text" placeholder="Ingresa la contraseña" aria-label="Number" matInput
                                    [formControl]="empresaBaseContrasenaForm" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Contraseña de la Base de Datos.">
                                    help_outline
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </mat-card-content>
    <div class="d-flex flex-wrap justify-content-center" style="padding-top: 2%; margin-bottom: 2%;">
        <mat-card-actions style="text-align: center">
            <button id="btn-raised" class="btn btn-sm" [disabled]="!formulario.valid"
            (click)="ValidarDatosBase(formulario.value)" value="Guardar">Guardar</button>
        </mat-card-actions>
    </div>
</div>