<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 15px;">
    <div class="row">
        <div class="col-12">
            <div id="titulo">
                <span>EMPRESAS</span>
            </div>
            <mat-card class="example-card mat-elevation-z8">
                <div class="d-flex flex-wrap justify-content-around" style="margin-top: 1%; margin-bottom: 1%;">
                    <button id="btn-raised" class="btn btn-sm" [routerLink]="['/registroEmpresa']">
                        Crear Empresa
                    </button>
                    <button id="btn-raised" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                        Mostrar lista
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 50px; text-align: center;">

    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="titulo">
            <span class="w-100 bd-highlight">
                LISTA DE EMPRESAS
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Empresa ID</th>
                        <th scope="col">Empresa Descripcion</th>
                        <th scope="col">Empresa Código</th>
                        <th scope="col">Tareas Automáticas</th>
                        <th scope="col">Instalación</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field class="input-tables codigo">
                                <input matInput placeholder="Buscar" [formControl]="empresa_id"
                                    (keypress)="IngresarSoloNumeros($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="input-tables codigo">
                                <input matInput placeholder="Buscar" [formControl]="empresa_descripcion"
                                    (keypress)="IngresarSoloLetras($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="input-tables codigo">
                                <input matInput placeholder="Buscar" [formControl]="empresa_codigo">
                            </mat-form-field>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de empresa de acuerdo a cada columna de la tabla.">
                                search
                            </mat-icon>
                        </td>
                    </tr>

                    <tr *ngIf="empresa.length === 0">
                        <td colspan="6" class="text-center">
                            No existen empresas registradas.
                        </td>
                    </tr>

                    <tr *ngFor="let e of empresa 
      | empresaId: empresa_id.value 
      | empresaDescripcion: empresa_descripcion.value 
      | empresaCodigo: empresa_codigo.value 
      | paginate:tamanio_pagina:numero_pagina">
                        <td scope="row">{{ e.empresa_id }}</td>
                        <td>{{ e.empresa_descripcion }}</td>
                        <td>{{ e.empresa_codigo }}</td>
                        <td>{{ e.estado ? 'Activa' : 'Inactiva' }}</td>
                        <td>{{ e.instalacion }}</td>
                        <td class="justify-content-center">
                            <i matSuffix matTooltipPosition="right" matTooltip="Ver datos generales de este registro."
                                class="fas fa-eye" style="color: rgb(0, 137, 228);" id="t-ver"
                                [routerLink]="['/verEmpresa/', e.empresa_id]">
                                <p>Ver</p>
                            </i>

                            <i (click)="ConfirmarDelete(e.empresa_id)" class="far fa-trash-alt" id="t-eliminar"
                                matSuffix matTooltipPosition="right" matTooltip="Eliminar este registro.">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="empresa.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>