<div id="titulo">
    <span>MODIFICAR DATOS DE LA EMPRESA</span>
    <mat-icon class="float-right" id="cerrar" (click)="Cancelar()">highlight_off</mat-icon>
</div>
<div>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="primeroFormGroup">

            <ng-template matStepLabel>
                <mat-icon id="seccion_emple" matSuffix matTooltipPosition="right"
                    matTooltip="Sección 1: Datos Empresariales">
                    business
                </mat-icon>
            </ng-template>

            <div class="subtitulo">
                <span>Datos Iniciales de la Empresa</span>
            </div>

            <div class="nota">
                <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en Guardar
                    para continuar.</span>
            </div>
            <form [formGroup]="primeroFormGroup">
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-around">
                            <mat-form-field>
                                <mat-label>Descripción</mat-label>
                                <input matInput placeholder="Ej: Casa Pazmiño" type="text"
                                    formControlName="empresaDescripcionForm" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Es obligatorio ingresar la descripción de la nueva empresa">
                                    description
                                </mat-icon>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Instalación sistema *</mat-label>
                                <mat-select formControlName="empresaInstalacionForm" required>
                                    <mat-option value="INTERNA">INTERNA</mat-option>
                                    <mat-option value="EXTERNA">EXTERNA</mat-option>
                                </mat-select>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Tipo de funcionamiento del sistema.">
                                    settings_input_component
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-around">
                            <mat-form-field>
                                <mat-label>Código</mat-label>
                                <input matInput type="text" formControlName="empresaCodigoForm" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Ingresar el código de empresa.">
                                    confirmation_number
                                </mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Zona horaria</mat-label>

                                <input type="text" matInput formControlName="empresaZonaHorariaForm"
                                    [matAutocomplete]="autoZona" placeholder="Buscar zona horaria" required>

                                <mat-autocomplete #autoZona="matAutocomplete">
                                    @for (option of zonasFiltradas | async; track option.nombre_general) {
                                    <mat-option [value]="option.nombre_general">
                                        {{ option.nombre_general }}
                                    </mat-option>
                                    }
                                </mat-autocomplete>

                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Seleccionar la zona horaria de la empresa.">
                                    public
                                </mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Tarea automáticas*</mat-label>
                                <mat-select formControlName="empresaEstadoForm" required>
                                    @for (option of estados; track option) {
                                    <mat-option [value]="option.estado">
                                        {{ option.nombre }}
                                    </mat-option>
                                    }
                                </mat-select>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Indicar si se ejecutan las tareas automáticas.">
                                    event_repeat
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <button mat-raised-button id="btn-raised" class="float-right"
                        (click)="ActualizarEmpresa(primeroFormGroup.value);" type="submit"
                        [disabled]="!primeroFormGroup.valid">
                        Guardar
                    </button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>